body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 30px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 16px;
}

table.playlist {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .08);
    table-layout: fixed;
}

.playlist th,
.playlist td {
    border: 1px solid #ddd;
    padding: 14px 10px;
}

.playlist thead th {
    background-color: #0078d7;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.playlist td:nth-child(1),
.playlist td:nth-child(2) {
    text-align: center;
    vertical-align: middle;
}

.playlist .video-cell {
    padding: 10px 14px;
}

.playlist .video-cell iframe {
    width: 100%;
    height: 300px;
    border: 0;
    display: block;
}